.user__login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__login-popup {
  background: var(--main-user-color);
  padding: 30px 70px;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.user__login-heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.user__login-subheading {
  font-weight: 400;
  font-size: 20px;
}

.user__login-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  font-weight: 400;
}

.user__login-input {
  width: 100%;
  background-color: white;
  opacity: 65%;
  height: 55px;
  text-align: start;
  padding: 0 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: solid black 1px;
}

.user__login-input:focus::placeholder{
  color: transparent;
  position: fixed;
}

.user__login-input:not(:last-child) {
  border-radius: 20px 0 0 0;
}

.user__login-input:not(:first-child) {
  border-radius: 0 0 20px 0;
}

.user__login-button {
  background-color: white;
  border: solid black 1px;
  width: 300px;
  height: 55px;
  border-radius: 20px 0 20px 0;
  text-align: center;
  font-size: 20px;
}

.user__login-button:hover {
  font-weight: bold;
}

.user__login-button:active {
  font-weight: bold;
  background-color: var(--main-user-color);
}

.user__login-reg {
  text-decoration: underline;
}

.user__login-reg:hover {
  text-decoration: none;
}
