.user__header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 20px;
  font-weight: var(--weight-regular);
  font-size: 24px;
  background-color: var(--main-user-color);
  width: 100%;
}

.user__navbar {
  display: flex;
  gap: 33px;
  font-weight: var(--weight-regular);
}

.user__navbar-right {
  cursor: pointer;
}

.user__navbar-logo-container {
  display: flex;
  align-items: center;
}

.user__navbar-logo {
  width: 184px;
  height: 59px;
  cursor: pointer;
}

.user__navbar-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.user__navbar-link:hover {
  border-bottom: 1px solid black;
}
.user__navbar-link:active {
  opacity: 0.5;

}

.user__header-username {
  font-weight: 500;
}

.user__header-login-button:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.user__header-login-button:active {
  opacity: 0.5;
  cursor: pointer;
}


.user__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 0;
  font-weight: var(--weight-regular);
  font-size: 24px;
  background-color: var(--main-user-color);
  width: 100%;
  gap: 5px;
}

.user__footer-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.copyright {
  font-size: 16px;
  opacity: 60%;
}