.user__catalog-content {
  min-height: calc(100vh - 79px - 74.5px);
}

.user__heading {
  text-align: center;
  font-size: 48px;
  font-weight: var(--weight-bold);
  color: black;
  padding: 20px 0;
  text-transform: uppercase;
}

.user__genre-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
}

.user__sidebar {
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 20px 20px 0;
  max-width: fit-content;
  width: 100%;
  padding: 20px 0;
  height: fit-content;
}

.user__sidebar-heading {
  font-size: 24px;
}

.user__genre-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
  font-size: 20px;
  gap: 20px;
  list-style: none;
}

.user__genre-link {
  border-bottom: 1px solid transparent;
}

.user__genre-link:hover {
  border-bottom: 1px solid black;
}

.user__genre-link:active {
  opacity: 0.5;
}

.user__genre-item--active {
  font-weight: var(--weight-bold);
}

.user__genre-item--active:hover {
  text-decoration: none;
}

.user__books-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  padding: 40px;
  background-color: var(--grey-color);
  border-radius: 20px 0 0 20px;
  width: 1134px;
}

.user__book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 240px;
  min-width: 160px;
  cursor: pointer;
}

.user__book-cover {
  width: 100%;
  aspect-ratio: 240 / 310;
  max-width: 240px;
  border: solid black 1px;
  border-bottom: none;
  border-radius: 10px 0 0 0;
  object-fit: cover;
}

.user__book-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 240px;
  min-width: 160px;
  height: 64px;
  padding: 0 10px;
  background-color: white;
  border: solid black 1px;
  border-top: none;
  border-radius: 0 0 10px 0;
  box-sizing: border-box;
}

.user__book-info-text-container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.user__book-info-title {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: var(--weight-bold);
  white-space: nowrap;
  max-width: 100%;
  text-transform: uppercase;
}

.user__book-info-author {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: var(--weight-regular);
  white-space: nowrap;
  max-width: 100%;
}

.user__book-like-icon {
  width: 30px;
  height: 30px;
  margin: 5px 5px 0 0;;
}
