.user__faq-content {
  min-height: 100vh;
  padding: 0 20px;
}

.user__faq-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.user__faq-item {
  border: 1px solid transparent;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--grey-color);
  transition: all 0.1s linear;
  cursor: pointer;
}

.user__faq-item:hover {
  border: 1px solid black;
}

.user__faq-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.1s linear;
  user-select: none;
}

.user__faq-question {
  margin: 0;
  color: black;
  font-weight: var(--weight-bold);
  font-size: var(--font-size-regular);
}

.user__faq-icon {
  flex-shrink: 0;
  color: #333;
  transition: transform 0.1s linear;
}

.user__faq-icon--up {
  transform: rotate(180deg);
}

.user__faq-answer-container {
  max-height: 0;
  padding: 0 20px;
  overflow: hidden;
  transition: max-height 0.1s linear, padding 0.1s linear;
}

.user__faq-answer-container--open {
  max-height: 500px;
  padding: 0 20px 10px 20px;
}

.user__faq-answer {
  margin: 0;
  padding-top: 10px;
  color: #555;
  font-size: var(--font-size-subregular);
  line-height: 1.6;
}
